/* 	#0000ff   card top        159 logo: #07d , Conv_Gotham-Bold(mostly in 159)     #00bfff  card header 2nd one   Footer: #0b59a7(159)     159 site orange,blue,black :#f6893b,#1a77bd,#414042(text)   orange #F87800   Blue bg: #0080ff
Conv_Gotham-book',Sans-Serif    or Conv_Gotham-book',Helvetica,Arial,sans-serif
Priority Bootstrap margin > Id > class

*/
/* * {
  -webkit-text-size-adjust: none;
} */

body {
  /* height: 95vh; */
  /* font-family: 'Montserrat', sans-serif; */
  /* background-color: #1a77bd; */
  /* font-family: 'Piazzolla', serif; */
  /* height: 5000px; 
  width: 5000px; 
  overflow: hidden; */
  /* width: 100%; */
  /* height: 100vh;  */
  /* overflow: hidden; */
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  background-image: url('img/background.jpg');
  /* background-position: fixed; */
  /* background-size: cover;
  background-attachment: fixed; */
  /* background-attachment: fixed; */
  
  /* background-size: 1309px 650px; */
  background-size: 95% 80%;

  /* TRY this also background-position: -1px 0px, 190px 4px; */
  /* background-repeat: no-repeat; */

}

/* .abc{
  margin-top: 10%;
} */
.BIOS{
  background-color: rgba(246, 137, 59, 0.2);
  padding-bottom: 4%;     
  /*  6 background-image: url('img/BIOS.svg'); */

}
.bios_img{
  margin-top: 8%;  /*10% */
  width: 50%;       /* 60% */
  /* height:50%; */
  /* margin-bottom: 20%; */
  margin-left: 20%;
  /* padding-bottom: 10%; */
}
#bios_header{
  line-height: 1.4;
  font-size: 12px;
  color: #f6893b;
  font-weight: bold;
  margin-left: 20%;
  font-family: 'Lato', sans-serif;
 
}
.bios_header1{
  line-height: 1.4;
  font-size: 16px;
  color: #f6893b;
  display: flex; 
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 3%;
  font-weight:600;

  /* font-family: 'Merriweather', serif;; */
  text-shadow: 0.5px 0px #f6893b;



  /* transform: translate(-50%, -50%); */
  /* vertical-align: middle; */
  /* align-items: center; */
  
}
  

/* Header H2 and H4 */
/* .header {
  padding: 30px 0 10px 0;
  display: flex; 
  color : #1a77bd;
  line-height: 1 !important; */


    /* font-size: 20px; */
  /* white-space: nowrap; */
  /* display: inline; */
  /* text-align: center; */
   /* white-space: nowrap; */
   /* white-space: pre; */
  /* justify-content: space-between; 
  }*/


/* BIOS */
/* .header h2 {
  // margin-top: none; 
  font-weight: 800;
  font-size: 32px;
  color: #f6893b !important;
  text-shadow: 2px 0 #f6893b;
  letter-spacing:3px;

} */

/* | in between h2 and h4 */
/* .header p{
  font-weight: lighter !important;
  font-size: 32px;
  // margin-bottom: 10px;
  //margin-top: 0; 


}  */

/* Business Intelligence....... */
/* .header h4{
  font-weight: 600;
  margin-top: 6px;
  font-size: 20px;
} */

.container{
  /* background-color: aquamarine;  */
  width: 65%;
  /* padding-bottom: 30px; */
  overflow: hidden;
  text-overflow: ellipsis;

  /* overflow: hidden !important; */
 
  /* white-space: nowrap;  */

 
}


/* Card image Ltab*/
.card_icon{
 float: left;
 width: 20%;
  /* margin-top: 15%; */
}

#Ltab_headerFF{
  transform: translate(0,45%);
}
/* #caretFF{
  margin-top: 17px;
} */
#img_iconFF{
  margin-top: 30px;

}

/* field force,HO,SOT heading  , only list group  h5 tag*/
.list-group h5{                           
  /* text-align: center; */
  /* margin-top: 20%; */
  /* padding-top: 10px;
  padding-bottom: 10px; */

  margin-left: 28%;
  color: #fff;
  font-size: 19px !important;
  font-weight: 600 !important;
  /* padding-top: 5%;
  padding-bottom: 5%; */

  /* text-shadow: 0.1px 0; */

}

.list-group p{
  padding-left:4%;
  /* padding-top: 4%;
  padding-bottom: 4%; */

}

/* Field force background i.e. Left Tab:Ltab */
.Ltab a{  
  background-color: #0b59a7 !important;
  border-bottom: 2px solid #f6893b; 
  padding: 11.5% 3% 11.5% 0%;                     /* if image size increases vary right padding 8.5*/
  /* text-decoration: none; */
  /* display: inline-block; */
}

.list-group-item{
border-top-right-radius: 0 !important;
border-top-left-radius: 0 !important;
border-bottom-right-radius: 0  !important;
border-bottom-left-radius: 0 !important;
/* overflow: auto;  */
/* height: 150px; */
}

/* Hide and show content inside L-tab */
.click_me {
  transform: translate(0%,15%);
  margin: 0 2% 0 28%; 
  color: #fff;
  height: 65px !important;
  line-height: 1 !important; 
  font-size: 15px !important;
  /* white-space: nowrap; */
  word-wrap: break-word;   /* Incase word flows out of div  */

}

/* Bottom orange color */
.Ltab_bottom{
  background-color : rgba(246, 137, 59, 0.2);
  height: 90px;


}

#mydivHO{
  display:none ;                /* For show and hide onclick initially display none*/
  /* text-align: center; */
  /* margin-left: 30%;  */
  /* margin-top: 0; */
  /* margin-bottom: 10%; */
  /* color: #fff; */
  /* white-space: pre; */
  /* height: 97px !important;        to maintain equal heights in all 4 */
}
#mydivST{
  display:none ;                
  /* margin-left: 30%;  */
  /* margin-top: 0; */
  /* color: #fff; */
  /* height: 97px !important;  */
  /* list-group-item.active {
   z-index: 0 !important;
  } */

}



#mydivMA{
  display:none ;                /* For show and hide onclick initially display none*/
  /* margin-right: 10%; */
  /* margin-left: 30%; */
  /* height: 97px !important; */
  /* padding-bottom:  */
  /* margin-top: 0; */
  /* color: #fff; */
}


/* Right Tabs Sub Categories */
/* Items in collabse bar */
.sublist{
  list-style:none;                                            /* for removing li numbering */              
  display:none;                                             /*   For show and hide onclick */
  line-height: 1.5 !important;                                                
  /* text-decoration: none; */
}

.sublist a{
  color: #f6893b ;
  font-weight: 400;
  font-size: 14px !important;
  text-decoration: none;
  /* text-decoration: none; */
  /* line-height: 0 !important; */
}




/* .Case_study1:hover {
  
  border-radius: 30px;
  background: linear-gradient(to right, rgba(11, 89, 167, 0.2), rgba(11, 89, 167, 0)),url('img/all_icons/eye.svg') ;
  
  background-repeat: no-repeat;
  
  background-position: -1px 0px, 190px 4px;
} */




/* .sublist li{
  border-radius: 30px;
} */

.sublist li:hover{
  border-radius: 30px;
  background: linear-gradient(to right, rgba(11, 89, 167, 0.2), rgba(11, 89, 167, 0));
}

.eye{
  float: right;
  padding-right: 35px;
  padding-top: 4px;

}

/* .Case_study3, .Case_study4{
  border-radius: 30px;
}*/
 
                             /* background-image: url('img/all_icons/eye.svg'); */
                              /* background-repeat: no-repeat;
                              background-position: -1px 0px, 190px 4px; */


/* .Case_study3:hover{
  background: linear-gradient(to right, rgba(11, 89, 167, 0.2), rgba(11, 89, 167, 0));
}
.Case_study4:hover{
  background: linear-gradient(to right, rgba(11, 89, 167, 0.2), rgba(11, 89, 167, 0));
} */


/* .Case_study4{
  border-radius: 30px;
  background: linear-gradient(to right, rgba(11, 89, 167, 0.2), rgba(11, 89, 167, 0)),url('img/all_icons/eye.svg') ;
 
  background-repeat: no-repeat;
  
  background-position: -1px 0px, 190px 4px;
  
}
#mydivCSI a{
  text-decoration: none;
}
#mydivIC a{
  text-decoration: none;

} */
/* #mydivTR,#mydivCSI,#mydivIC,#mydivDSR,#mydivAA{
  display: none;
} */


/* .eye2{
  float: right;
  padding-right: 35px;
  padding-top: 5px;
 

} */

.card{
  border:none;
  /* border-top: 1px solid rgba(0,0,0,.125);
  border-top: 1px solid rgba(0,0,0,.125) !important;
  border-bottom: 1px solid rgba(0,0,0,.125) !important; */

}
/* .list-group-item {
  border:none;
} */

.card .list-group-item{
  border-bottom : 1px solid rgba(0,0,0,.125) !important; /* Rtab list bottom border  */

    /* padding: 3.25% 0 3.25% 2%; */
  /* background-color: rgba(11, 89, 167, 0.1) ; */
  /* border: 0; */
 }

 /* to remove bottom border for last elements */
#mybtnDSR, #mybtnKOLF, #mybtnDWO,#mybtnTOR{
   border-bottom: none !important;
 }
 

/* icon Caret-down */
.itag {
  color: #f6893b !important;

}

.Ltab1{
  padding-left: 0;
  padding-right: 0;
}

.Rtab {

  /* background-color: rgba(11, 89, 167, 0.1) !important;    */
  padding-left: 0;
  padding-right: 0;
  border: 1px solid rgba(0,0,0,.125) !important;
  
  /* border-bottom: 1px solid rgba(0,0,0,.125) !important; */
  /* margin-left : -15px; */

  /* padding: 13px 0 22px 0; */
}

/* #mybtnTR{
  border-bottom: 1px solid rgba(0,0,0,.125) !important ;
} */
.Rtab_row{
  border-bottom: 1px solid rgba(0,0,0,.125) !important ;
}

.Rtab_header{
  color: #0b59a7 ;
  font-weight: bold;
  font-size: 14px !important;
  margin-top: 14px;     /*  16px is equivalent to mt-3   */
 

}

.Rtab_icon{
  margin-top: 5px;
  
}

div.Rtab_icon>img {
  width: 43%;
}

.Rtab_content{
  line-height: 1;    /* 1 times the font-size */
  color: #0b59a7 ;
  font-size: 14px !important;
  margin-top: 5px;
  padding-left: 0 !important;
  padding-right: 12px !important; 
  /* font-family: 'Lato', sans-serif; */
  /* font-weight: bold; */
  /* padding: 13px 0 22px 0;  */

}



#mybtnTR,#mybtnCSI,#mybtnAA,#mybtnDSR,#mybtnIC{
  padding-top: 5.3%;
  padding-bottom:5.3%;
}

#mybtnLT,#mybtnHQ,#mybtnMAI,#mybtnFS,#mybtnMD,#mybtnKOLM ,#mybtnFLT ,#mybtnTOR {
  padding-top: 1.9%;
  padding-bottom:1.9%;
}

#mybtnAM,#mybtnTRE,#mybtnALM,#mybtnRM,#mybtnDWO {
  padding-top: 5.7%;
  padding-bottom:5.7%;
}

#mybtnMSL,#mybtnNED,#mybtnKOLF{
  padding-top: 12%;
  padding-bottom:12%;
  /* margin-bottom: 12%; */
}
/* #mybtnKOLF{
  padding-top: 12%;
  margin-bottom: 12%;
} */
/* #mybtnTR, #mybtnCSI,#mybtnAA,#mybtnDSR,#mybtnIC,#mybtnKOLF,#mybtnAM,#mybtnTRE,#mybtnALM,#mybtnRM,#mybtnSR,
#mybtnLT,#mybtnHQ,#mybtnMAI,#mybtnFS,#mybtnMD,#mybtnKOLM,#mybtnDWO
{
  
  /* color: #0b59a7 ;
  font-weight: bold;
  font-size: 14px !important; */
 

/* }  */

/* #mybtnMSL, #mybtnNED {
  color: #0b59a7 ;
  font-weight: bold;
  font-size: 14px !important;

} */ 

.Rtab_content{
             /* automatically 15px */                         
 
}

 /* Footer CSS starts */
.footer-img{
  
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
  
}
.social{
  padding: 15px 0;
  margin-top: 20px;
}

 
.social-links a{
 text-align: center;
float: left;
width: 40px;
height: 40px;
border: 2px solid #fff;
border-radius: 100%;
margin-right: 7px;                /*space between*/
}


.social-links a i{
font-size: 30px;
 line-height: 38px; 
/* color: #fff; */
} 

.p-white{
  /* color: #fff !important;  */
  font-size: 15px;
}
/* Footer CSS ends */

/*  image hover starts*/

/* .img_ho{
  padding-bottom: 30px;
  padding-right: 50px;
} */

/* #image_hover{
  display: none;
  float: right;
  /* float: center; */
  /* text-align: center;  */
  /* position: relative; */
  /* margin-top: 0;
  padding: 0; */
  /* vertical-align: middle; */

/* image hovering ends */

.popover{
  max-width: 300px !important;   
}

.list-group-item.active{
  background-color:#f6893b !important;
  border-color:#f6893b!important;
}



/* footer should stick to bottom (not working) */
/* .footer{
  position: relative;
  bottom:0px;



} */
/* 
.card-columns{
  column-count: 3;
} */

/* a>div { display: none; }
a:hover>div { display: block; } */

/* col5 padding right:0 remove pr-0
.Rtab give margin : -15px
.list group itm  border remove
.card: Border  check*/